* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav{
  height: 10hv;
  background: rgb(136,0,21);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  color: red;
  margin: auto;
  padding: 20px;
  border: 1px solid white;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

header {
  background: rgb(136,0,21);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 30px 10%;
  z-index: 1;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: inherit;
    }

    li {
      text-transform: uppercase;
      color: inherit;
    }
}

body {
  background: black;
  h1 {
    justify-content: space-around;
    text-align: center;
    color: red;
  }
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
  display: flex;
  background: rgb(136,0,21);
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  li{
    display: inline-block;
    padding: 0px 20px;
  }
  a {
    transition: all 0.3s ease 0s;
  }
  li a:hover{
    color: white;
  }
}

.bestmovie-container{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bestmovie-container:hover{
  cursor: pointer;
}

.swiper-container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
    .swiper-slide{
      background: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}


.image-container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-title{
  top: 30px;
  align-content: center;
}

.release-info{
  display: flex;
  justify-content: center;
  align-items: center;
}


table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid rgb(200, 200, 200);
}

tr {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#img-movie{
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}